<footer>
  <div class="grid footer-wrapper ">
    <div class="col-8 mt-5">&copy; 1994 - 2022 Adel Berhan</div>
    <div class="col-4 social">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" href="https://www.facebook.com/adel.mohamedberhan"><i class="pi pi-facebook"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.linkedin.com/in/adel-ahmed-2622a6211/"><i class="pi pi-linkedin"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/adelberhan"><i class="pi pi-github"></i></a>
        </li>
      </ul>
    </div>
  </div>
</footer>
