header {
  .logo {
    img {
      max-width: 150px;
    }
  }
  .search {
    padding-top: 33px;
  }
  .tools {
    padding-top: 33px;
  }
}
p {
  line-height: 20px !important;
}

.col-1 {
  padding: 0;
}

