//Base
@import '/node_modules/normalize.css/normalize.css'; //1
@import './base/colors.scss'; //1
@import './base/fonts.scss'; //2
@import './base/mixin.scss'; //3
@import './base/config.scss'; //4

//Shared
@import './apps/admin/shell.scss';
@import './apps/admin/dashboard.scss';

// //Pages
// @import './apps/shop/pages/home-page.scss';
// @import './apps/shop/pages/products-list-page.scss';

// PrimeNg
@import 'node_modules/primeicons/primeicons.css';
// @import 'node_modules/primeng/resources/themes/md-dark-indigo//theme.css';
@import 'node_modules/primeng/resources/primeng.min.css';
@import '/node_modules/primeflex/primeflex.css';

// themes

// @import "../../../../primeng/resources/themes/vela-blue/theme.css";
// @import "../../../../primeng/resources/themes/saga-blue/theme.css";
// @import "../../../../primeng/resources/themes/md-light-indigo/theme.css";
// @import "../../../../primeng/resources/themes/md-dark-indigo/theme.css";
// @import '/apps/admin/src/themes/bootstrap4-light-purple.scss';
// @import '/apps/admin/src/themes/bootstrap4-dark-purple.scss';

//Libs
@import './libs/ui/ui.scss';

@import './libs/users/users.scss';

.customize-icon {
  position: absolute;
  top: 55px;
  left: 223px;
  font-size: 22px;
}
